// body
#mainView{
  background-color: black;
}
#pageTheme{
  background-color: black;
  color: white;
  font-family: Jura;
}
//Navbar
.navbar{
  background: #333333;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-family: Jura;
}

#LandingPage .navbar {
  background: transparent;
  font-weight: bolder;
  color: black;
}
.navbar >.container{
  margin: 0px;
  width: 100%;
  background-color: transparent;
}
.container>.navbar-header {
  margin-right: 0;
  margin-left: -15px;

}

.navbar-collapse{
  margin-bottom: -300px;
  
}

ul.nav.container.navbar-nav.navbar-right{
  float: right;
  
}
ul.nav.container.navbar-nav.navbar-right.button{
  color: red;
  
}
  .logo{
      height:100px;
      width:100px;
      float:left;
    margin-right: 3px	
  }
  
  .nav{
    display: inline-block;
    width:auto;
    margin-right: 30px;
  }
  .nav li{
    width: 100px;
    margin: 10px 5px;
  }
  .nav button{
    width: 100px;
  }

   a button{
    margin: 15px 20p 0px 5px;
    padding: 10px 20px;
    font-size: 15px;
    float: right;
    list-style-type: none;
    color: white;
    border: 2px solid white;
    background-color: transparent;
   
  }
  a button:hover {
      color: red;
      border: 2px solid red;
      cursor: pointer;
      box-shadow: 0 0 5px red;
  }

  #LandingPage a button{
    color: black;
    border: 2px solid black;
    font-weight: bolder;
  }
  #LandingPage a button:hover {
    color: red;
    border: 2px solid red;
    cursor: pointer;
}


#sceneWrapper{
    position: relative;
    
}
//BOOTSTRAP NAVBAR

//JUMBOTRON

.jumbotron {
    height: 700px;
    background-image: url(/photos/midtown.jpg);
    background-position: 50% 30%;
    background-size: cover;
    margin-bottom: 0;
    margin-top: -200px;
}
.border{
    background-color: #333333;
    height: 50px;
    color: white;
    margin-bottom: 60px;
  }

  //Landing Page BOdy

  .short{
    float: none;
    margin: auto;
    margin-top: 50px;
  }
  .short .media-heading{
    font-size:24px;
  }
  .short p{
    font-size: 18px;
  }

  //Footer
  #footer{
    background: #333333;
    text-align: center;
    
  }