@import 'navbar.scss';
@import 'landingPage.scss';
@import 'skills.scss';
@import 'footer.scss';
@import 'projects.scss';
@import 'modal.scss';
@import 'contact.scss';
@import 'about.scss';
@import 'rain.scss';
@import 'gol.scss';

// body
html {height: 100%}
#mainView{
  background-color: black;
  // height: 100%;
  position: relative;  //a recent change
  height: 100%;
  // padding-bottom: 60px /// recent change 60=height of footer
}
#pageTheme{
  background-color: black;
  color: white;
  font-family: Jura;
  position: relative;
  min-height: 100%;
  
}

//Fade-in and fade-out transition suport
.example-appear {
  opacity: .1;
  background: black;
  z-index: 99;
  width: 100%;
  height:100%
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

#innerRouteMainBody{
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}