
.descriptors{
    a{
        text-decoration: none;
        &:hover {text-shadow: 0 0 5px red;}
    }
}

.jumbotron {
    height: 80vh;
    background-image: url(/photos/midtown.jpg);
    background-position: 50% 30%;
    background-size: cover;
    margin-bottom: 0;
    // margin-top: -200px;
}
.border{
    background-color: black;
    height: 50px;
}
#bio{
    text-align: center;
    height: 92vh;
    #textBox{
        position: absolute;
        height: 90vh;
        background: black;
        @media(min-width: 992px){
            margin: 0 25%;
        }
        @media(min-width: 768px){margin: 0 20%}
       //before changes
    }
    h2{
    //     padding: 0 12%;
    //     @media(min-width:768px){
    //         padding: 0 20%
    //     }
        @media(min-width:992px){
            font-size: 34px;
        }
    }
    p{
        @media(min-width:768px){
            font-size: 16px; padding: 0 15px
        }
        @media(min-width:1600px){font-size: 22px}
        
    //     font-family: jura;
    //     font-size: 18px;
    //     padding: 5% 12%;
    //     @media(min-width:768px){
    //         font-size: 18px;
    //         padding: 0 20%
        // }

        
    }
    #defaultCanvas0{
        position: absolute;
        display: block;
    }
    #headshot{
        border-radius: 50%;
        width: 35%;
        height:auto;
   
      
    }
// }
// .short{
//     float: none;
//     margin: auto;
//     margin-top: 50px;
//     .media-heading{
//         font-size:24px;
//     }
//     p{
//         font-size: 18px;
//     }
  }

 