
.descriptors{
    a{
        text-decoration: none;
        &:hover {text-shadow: 0 0 5px red;}
    }
}

.jumbotron {
    height: 80vh;
    background-image: url(/photos/midtown.jpg);
    background-position: 50% 30%;
    background-size: cover;
    margin-bottom: 0;
    // margin-top: -200px;
}
.border{
    background-color: black;
    height: 50px;
}
#bio{
    text-align: center;
    height: 100vh;
    #textBox{
        position: absolute;
        height: 100vh;
        background: black;
        @media(min-width:375px){
            p{
                font-size: 16px; 
                padding: 0 15px 
            }
        }
        @media(max-width:412px){
            padding: 0 5%;
            
        }
        @media(min-width: 540px){
            margin: 0 20%
        }
        @media(min-width: 992px){
            margin: 0 25%;
            h2{
                font-size: 34px;
            }
        }
        @media(min-width:1600px){
            p{
                font-size: 22px
            }
        }
        @media(min-width:1600px){
            p{
                font-size: 22px
            }
        }

    }
    #defaultCanvas0{
        position: absolute;
        display: block;
    }
    #headshot{
        border-radius: 50%;
        width: 35%;
        height:auto;
    }
}
#parallax{
      width:100%;
    //   height: auto;
      background-image: url('/photos/zenBanner.jpg');
      height: 475px;
      background-attachment: fixed;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
}
.zen{
    width: 100%;
}

