.modal-content{
    background: rgba(51, 51, 51, .9);
  }
  .modal-content .media-heading{
    font-size: 36px;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  
  .modal-content .media-body p{
    font-size: 18px;
  }
  .modal-content h3,h4{
    text-decoration: underline;
  }
//   .modal-content h4{
//     text-decoration: underline;
//   }
  
  .screenshots{
    width: 180px;
    height: 120px;
    margin: 5px 20px 20px 0px;
    border: 3px solid black;
    & :hover{
        cursor: pointer;
    }
  }
//   .screenshots:hover{
//     cursor: pointer;
//   }
  .techImg{
    width: 90px;
    height: 90px;
    margin: 5px 15px 20px 0px;
    background: black;
  }
  
  #modalA:hover{
    cursor: pointer;
    color: red;
  }
  .fade.in.modal{
    transition:opacity 1s linear
  }