%buttonActivity{
    outline:0;
    color: red;
    border: 2px solid red;
    cursor: pointer;
    box-shadow: 0 0 5px red;
    text-decoration: none;
}
@mixin navbarConstructor($textColor, $backgroundColor){
    color: $textColor;
    margin-bottom: 0px;
    border-bottom: none;
    background: $backgroundColor;
    transition: background-color 1s;
    >.container{
        margin: 0px;
        width: 100%;
        background-color: transparent;
        margin-left: -15px 
    }
    h3{
        @media(max-width:375px){display:inline}
        font-size: 22px;
        color: $textColor;
    }
    >.navContainer{
                margin: 0px;
                width: 100%;
                background-color: transparent;
                margin-left: -15px 
            }
        .abtn{
            @media(max-width:375px){margin:-10px -10px 5px 10px}
            @include aLinkButtonConstructor($textColor);
        }
    a{
        text-decoration: none;
        cursor: pointer;
        h3 {
            &:hover{
                color: red
            }
            // &:target{
            //     color:purple
            // }
        }   
    }

}
@mixin aLinkButtonConstructor($color){
    width: 79px;
    margin: 20px 20px 0px 5px; //controls the positioning of the line
    padding: 8px 15px;
    font-size: 12px;
    float: right;
    text-align: center;
    list-style-type: none;
    color: $color;
    border: 2px solid $color;
    background-color: transparent;
    &:active, &:hover, &:target{
        @extend %buttonActivity 
    }
    &:focus{
        outline: none;
    }
}

.logo{
    height:80px;
    width:80px;
    float:left;
    margin-right: 3px	
}

.navbarClear{
@include navbarConstructor(black, transparent );
}
.navbarColored{
    @include navbarConstructor(white, black);
}
.nav{
    @media(max-width:767px){margin-left:80px}
    // margin-right:-55px !important;
    margin-bottom: -20px;
    li{
        margin: -10px 5px !important;
    }
}
div.navbar-collapse.collapse.in{
    height: 100px;
}

.activeNavButton{
    color: green !important
}
// $transNavbarGrey: rgba(51, 51, 51, .5);

// %buttonActivity{
//     outline:0;
//     color: red;
//     border: 2px solid red;
//     cursor: pointer;
//     box-shadow: 0 0 5px red;
// }
// @mixin buttonConstructor($color){
//     margin: 15px 20px 0px 5px;
//     padding: 8px 15px;
//     font-size: 12px;
//     float: right;
//     list-style-type: none;
//     color: $color;
//     border: 2px solid $color;
//     background-color: transparent;
//     &:focus, &:active, &:hover{
//         @extend %buttonActivity 
//     }
// }
// .logo{
//         height:80px;
//         width:80px;
//         float:left;
//         margin-right: 3px	
//     }

// .navbar{
//     background: black;
//     border: none;
//     box-shadow: none;
//     -webkit-box-shadow: none;
//     font-weight: 100;
//     margin-bottom: 0px;
//     z-index: 99;
//     a {
//         color:white
//         &:hover{
//             text-decoration: none;
//             // color: red;
//             text-shadow: 0 0 3px #FF0000;
//         }
//       }
//     >.container{
//         margin: 0px;
//         width: 100%;
//         background-color: transparent;
//         margin-left: -15px 
//     }
//     h3{
//         font-size: 22px;
//     }
//     button{
//         @include buttonConstructor(white);
//     }
// }

// #LandingPage .navbar {
//     background: transparent;
//     font-weight: bolder;
//     color: black;
//     a {
//         color: black;
//         text-decoration: none;
//         &:hover{
//             text-shadow: none; //for the name next to logo 
//         }
//         button{
//             @include buttonConstructor(black)
//         }
//     }
// }

// .container>.navbar-header {
//     margin-right: 0;
//     margin-left: -15px;
// }

// .navbar-collapse{
//     margin-bottom: -300px;
// }
// div.navbar-collapse.collapse.in{
//     background-color: rgba(220, 220, 220, .5);
// }
// ul.nav.container.navbar-nav.navbar-right{
//     float: right;
    
// }
// ul.nav.container.navbar-nav.navbar-right.button{
//     color: red;
// }


.nav{       //for collapsed display?
    display: inline-block;
    width:auto;
    // margin-right: 30px;
    li{
        width: 100px;
        margin: 0px 5px;
      }
    //   .abtn{
    //     width: 100px;
    //   }
}

// .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
//     background: none;
// }
// .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
//     background: none;   
// }

